/*
Kahoot Orange Color Code: #F5A23D
Kahoot Blue Color Code: #1368CE
Kahoot Light Blue Color Code: #45A3E5
Kahoot Red Color Code: #E21B3C
Kahoot Green Color Code: #298F0D
Kahoot Purple Color Code: #864CBF
Kahoot Yellow Color Code: #D89E00
Kahoot Correct Green Color Code: #66bf39
Kahoot Incorrect Purple Red Color Code: #FF3355
*/

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
